# Firebase Config (Shared/Mobile)
EXPO_PUBLIC_FIREBASE_API_KEY=""
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=""
EXPO_PUBLIC_FIREBASE_PROJECT_ID=""
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=""
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
EXPO_PUBLIC_FIREBASE_APP_ID=""

# Backend Config
PORT=3000
FIREBASE_SERVICE_ACCOUNT_KEY="{}"

# Third Party APIs
NOTIFY_LK_USER_ID=""
NOTIFY_LK_API_KEY=""
PAYHERE_MERCHANT_ID=""
PAYHERE_SECRET=""
