# Backend Environment Variables
PORT=3000

# Firebase Admin SDK
FIREBASE_SERVICE_ACCOUNT_KEY="{}"

# Notify.lk SMS Gateway
NOTIFY_LK_USER_ID=""
NOTIFY_LK_API_KEY=""
NOTIFY_LK_SENDER_ID="SupplyLinkLK"

# PayHere Payment Gateway
PAYHERE_MERCHANT_ID=""
PAYHERE_SECRET=""
PAYHERE_SANDBOX=true
